.page {
	display: flex;
	justify-content: center;
}

.navbar {
  position: fixed;
  margin: 10px 0;
	border: 2px solid #555;
  padding: 0;
	width: fit-content;
	height: 34px;
  background-color: #f1f1f1;
	z-index: 2;
  list-style-type: none;
}

.content {
	padding-top: 60px; /* space for navbar */
	width: 90%;
	z-index: 1;
}

.navtab {
  float: left;
  text-align: center;
}

/* navbar buttons/links */
.navtab a, .dropbtn {
  display: block;
  padding: 8px 16px;
  color: #000;
  text-decoration: none;
}

/* navtab hover */
.navtab:not(.active):hover, .dropdown-content:hover {
  background-color: rgb(255, 160, 176);
  color: black;
}

.navtab.active {
	background-color: aqua;
	color: black;
}

/* navbar dropdown box */
.dropdown-content {
  display: none;
	border: 1px solid #555;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* navbar dropdown tab button/links */
.dropdown-content a {
  display: block;
  color: black;
  text-align: left;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
	border-top: none;
}

.dropdown:hover {
	border-bottom: none;
}

table.inactive {
	visibility: hidden;
	transform: translateY(1500px);
	transition: 
		transform .5s,
		visibility 0s linear .5s; 
}

table.active {
	visibility: visible;
	transform: translateY(0);
	transition: transform .5s;
}

.buttonCell {
	display: inline-block;
}

.receipt-button {
	border-radius: 8px;
	border: 2px solid rgb(21, 255, 0);
	background-color: rgb(223, 255, 224);
}

.receipt-button:hover {
	background-color: rgb(0, 211, 11);
}

.receipt-button:active {
	background-color: rgb(0, 190, 10);
	transform: translateY(1px);
}

.price-list {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

.price-list-item {
	padding-bottom: 5px;
	width: 100%;
}

.receipt-input {
	border-radius: 6px;
	padding: 8px 24px;
	animation: slideLeft .1s;
}

@keyframes slideLeft {
	from {
		transform: translateX(2000px);
	}

	to {
		transform: translateX(0);
	}
}