* {
	margin: 0;
	padding: 0;
}

.root {
	position: relative;
	height:100%;
	width:100%;
	background-color: dimgray;
	background-size: 100% 100%;
	overflow: hidden;
}

.left-login {
	display: inline-block;
	height: 100%;
	width: 50%;
	background-image: url('https://i.imgur.com/oO1SZAs.jpg');
	background-position: top;
}

.left-login ul{
	display: none;
}

.right-login {
	display: inline-block;
	display: none;
	height: 100%;
	width: 50%;
	background-color: cyan;
}

/* lhn */
.nav-button {
	z-index: 100;
	position: absolute;
	border: none;
	border-radius: 50%;
	margin: 10px;
	padding: 5px 15px;
	background-color: transparent;
	font-size: 28px;
}

.nav-button:hover {
	background-color: cyan;
}

.nav-button span::after {
	content: '\2261';
	color: white;
}
.nav-button.active span::after {
	color: black;
}

.lhn {
	z-index: 95;
	position: absolute;
	height: 100%;
	width: 300px;
	border-radius: 0 40px 40px 0;
	background-image: url('https://i.imgur.com/oO1SZAs.jpg');
	background-position: top;
	transform: translateX(-400px);
	transition: transform 1s;
}

.lhn.active {
	transform: translateX(0);
	transition: transform 1s;
}

.nav-list {
	margin-top: 40%;
	padding: 0;
  list-style-type: none;
}

.nav-item {
	margin: 5px 0;
	border: 1px solid;
	border-radius: 50px;
	padding: 10px 0 10px 10%;
	font-size: 18px;
}

.nav-item:not(.selected):hover {
	background-color: pink;
}

.nav-item.selected {
	background-color: cyan;
}
/* lhn end */

/* pages */
.page-container {
	position: absolute;
	height: 100%;
	width: 100%;
	transform: translateY(100%);
	transition: transform .5s;
}

.page-container.active {
	transform: translateY(0);
}

/* page message */
.page-message {
	display: flex;
	padding-top: 5%;
	justify-content: center;
}
/* page message end */

/* page ttt */
.page-ttt {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-ttt .form-button {
	display: flex;
	margin-top: 20%;
}

.ttt-section {
	display: flex;
	margin-top: 1%;
	justify-content: space-evenly;
	align-items: center;
}

.ttt-board {
	display: grid;
	margin: 0 100px;
}

.ttt-board span {
	height: 100px;
	width: 300px;
}

.ttt-board span button {
	height: 100px;
	width: 100px;
	font-size: 24px;
	cursor: pointer;
}

.ttt-marker {
	height: 100px;
	width: 100px;
	border: none;
	border-radius: 50%;
	font-size: 24px;
	cursor: pointer;
}

.ttt-marker.X.selected {
	background-color: pink;
}


.ttt-marker.O.selected {
	background-color: cyan;
}
/* page ttt end */
/* pages end */

form {
	margin: 0;
	height: 0;
}

table.receipt {
	visibility: hidden;
	transform: translateY(1500px);
	transition: 
		transform .5s,
		visibility 0s linear .5s; 
}

table.receipt.active {
	visibility: visible;
	transform: translateY(0);
	transition: transform .5s;
}

.buttonCell {
	display: inline-block;
}

.form-button {
	border-radius: 8px;
	border: 2px solid rgb(21, 255, 0);
	background-color: rgb(223, 255, 224);
}

.form-button:hover {
	background-color: rgb(0, 211, 11);
}

.form-button:active {
	background-color: rgb(0, 190, 10);
	transform: translateY(1px);
}

.price-list {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

.price-list-item {
	padding-bottom: 5px;
	width: 100%;
}

.form-input {
	border-radius: 6px;
	padding: 8px 24px;
	animation: slideLeft .1s;
}

table.message {
	margin-top: 10%;
	visibility: hidden;
	transform: translateY(1500px);
	transition:
		transform .5s,
		visibility 0s linear .5s;
}

table.message.active {
	visibility: visible;
	transform: translateY(0px);
	transition: transform .5s;
}

@keyframes slideLeft {
	from {
		transform: translateX(2000px);
	}

	to {
		transform: translateX(0);
	}
}